<%- include("header.ejs") -%>
<hr>
<style media="screen">
  img.developers{
    border-radius: 100%;
    border: 3px solid white;
    margin: 0px;
    padding: 0px !important;
    width: 95% !important;
    margin-bottom: 40px;
  }

  @media only screen and (max-width: 380px){
    img{
      width: 121% !important;
    }
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-xl-1 col-lg-1 col-md-0 col-0">

    </div>
    <div class="col-xl-5 col-lg-5 col-md-6 col-6">
      <img class="developers" src="images/developers/primanshu.png" class="m" alt="">
    </div>
    <div class="col-xl-5 col-lg-5 col-md-6 col-6">
      <img class="developers" src="images/developers/rachit.jpeg" class="m" alt="">
    </div>
  </div>
  <div class="col-xl-1 col-lg-1">

  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-1 margin-below">

    </div>
    <div class="col-lg-10 col-md-10 col-10">
      <p style="color:white; font-size: 1.3em;"><b style="color: #ffcd3c;">Primanshu</b> (on the left) and <b style="color: #ffcd3c;">Rachit</b> (on the right) are Web Development Enthusiasts.
        We are currently pursuing bachelor's degree in Computer Science and Engineering
        (graduating in 2022) from Delhi Technological University (DTU), Delhi, India.
        </p>
        <p style="color:white; font-size: 1.3em; text-decoration: underline;">Links To Our Github Profile : </p>
        <ul style=" font-size: 1.3em;">
          <li style="font-size: 1.1em;"><i class="fab fa-github"></i><a href="https://github.com/Primanshu" target="_blank" style="text-decoration:none; font-size: 1.1em;"> Primanshu</a></li>
          <li style="font-size: 1.1em;"><i class="fab fa-github"></i><a href="https://github.com/RJrachit" target="_blank" style="text-decoration:none; font-size: 1.1em;"> Rachit</a></li>
        </ul>
      <hr>

      <p style="color:white; font-size: 1.3em;">Technologies used :</p>
      <ul style="color:white; font-size: 1.3em;">
        <li>Node.js</li>
        <li>JQuery</li>
        <li>Bootstrap</li>
        <li>CSS</li>
      </ul>

      <p style="color:white; font-size: 1.3em;"> The following libraries and packages were
        used in designing the website :</p>
      <ul style="color:white; font-size: 1.3em;">
        <li>express.js</li>
        <li>"alert-node": "^3.0.11"</li>
        <li>"body-parser": "^1.19.0"</li>
        <li>"cookie-parser": "^1.4.5"</li>
        <li>"dotenv": "^8.2.0"</li>
        <li>"ejs": "^3.1.3"</li>
        <li>"express": "^4.17.1",</li>
        <li>"express-session": "^1.17.1"</li>
        <li>"js-alert": "^1.0.4"</li>
        <li>"mongoose": "^5.9.18"</li>
        <li>"mongoose-findorcreate": "^3.0.0"</li>
        <li>"passport": "^0.4.1"</li>
        <li>"passport-facebook": "^3.0.0"</li>
        <li>"passport-google-oauth20": "^2.0.0"</li>
        <li>"passport-local": "^1.0.0"</li>
        <li>"passport-local-mongoose": "^6.0.1"</li>
        <li>"popup": "0.0.3"</li>
        <li>"popups": "^1.1.3"</li>
        <li>"request": "^2.88.2"</li>
        <li>"socket.io": "^2.3.0"</li>
    </div>
    <div class="col-lg-1 col-md-10 col-1">

    </div>
  </div>

</div>

<%- include("footer.ejs") -%>
