<%- include("header.ejs") -%>
<hr> <hr>
<h5>Looks like you haven't searched for anything!</h5>
<p>Search for a movie/show in the search box provided above.</p>
<hr> <hr>
<%- include("footer.ejs") -%>
