<%- include("header.ejs") -%>

<form class="" action="/getUsername" method="post">
  <input type="text" name="newUsername" value="" required>
  <button type="submit" name="button">Send</button>
</form>

<%- include("footer.ejs") -%>
