<%-include("header.ejs")-%>
<!-- carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <h3>All Time Hits</h3>
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="show/tt0903747">
        <img class="d-block w-100" src="images/carousel/Breaking Bad.jpg" alt="First slide" height="450" width="80">
      </a>
    </div>

    <div class="carousel-item">
      <a href="show/tt3007572">
        <img class="d-block w-100" src="images/carousel/Locke and key.jpg" alt="Second slide" height="450" width="80">
      </a>
    </div>

    <div class="carousel-item">
      <a href="show/tt0411008">
        <img class="d-block w-100" src="images/carousel/Lost.jpg" alt="Third slide" height="450" width="80">
      </a>
    </div>

    <div class="carousel-item">
      <a href="show/tt4574334/">
        <img class="d-block w-100" src="images/carousel/Stranger things.png" alt="Fourth slide" height="450" width="80">
      </a>
    </div>

    <div class="carousel-item">
      <a href="show/tt7335184">
        <img class="d-block w-100" src="images/carousel/You.jpg" alt="Second slide" height="450" width="80">
      </a>
    </div>

    <!-- previous -->
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <!-- next -->
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- bootstrap grid featured movies-->
<h3>Featured Movies</h3>
<div class="container">
  <div class="row pd">

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <a href="show/tt3207684">
        <img class="m" src="images/featured movies/Shawshank redemption.jpg" alt="" height="200" width="250">
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <a href="show/tt0758758">
        <img class="m" src="images/featured movies/Into the wild.jpg" alt="" height="200" width="250">
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <a href="show/tt1375666">
        <img class="m" src="images/featured movies/Inception.jpg" alt="" height="200" width="250">
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <a href="show/tt0816692">
        <img class="m" src="images/featured movies/Interstellar.jpg" alt="" height="200" width="250">
      </a>
    </div>

  </div>

  <div class="row pd">

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <a href="show/tt1130884">
        <img class="m" src="images/featured movies/Shutter island.jpg" alt="" height="200" width="250">
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <a href="show/tt10314450">
        <img class="m" src="images/featured movies/Becky.jpg" alt="" height="200" width="250">
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <a href="show/tt0375174">
        <img class="m" src="images/featured movies/Pursuit of happiness.jpg" alt="" height="200" width="250">
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <a href="show/tt5563334">
        <img class="m" src="images/featured movies/The good liar.jpg" alt="" height="200" width="250">
      </a>
    </div>

  </div>
</div>

<!-- bootstrap grid Hindi movies-->
<h3>Top Hindi Movies</h3>
<div class="container">
  <div class="row pd">

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <a href="show/tt8108198">
        <img class="m" src="images/hindi movies/Andhadhun.jpg" alt="" height="200" width="250">
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <a href="show/tt8907986">
        <img class="m" src="images/hindi movies/Angrezi medium.jpg" alt="" height="200" width="250">
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <a href="show/tt9052870">
        <img class="m" src="images/hindi movies/Chhichhore.jpg" alt="" height="200" width="250">
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <a href="show/tt7399470">
        <img class="m" src="images/hindi movies/Qarib qarib single.jpg" alt="" height="200" width="250">
      </a>
    </div>
  </div>

  <div class="row pd">

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <a href="show/tt12049446">
        <img class="m" src="images/hindi movies/Kai po che.jpg" alt="" height="200" width="250">
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <a href="show/tt1187043">
        <img class="m" src="images/hindi movies/3 idiots.jpeg" alt="" height="200" width="250">
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <a href="show/tt4169250">
        <img class="m" src="images/hindi movies/Ms dhoni.jpg" alt="" height="200" width="250">
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <a href="show/tt6971752">
        <img class="m" src="images/hindi movies/Shubh mangal saavdhan.jpg" alt="" height="200" width="250">
      </a>
    </div>

  </div>
</div>

<%-include("footer.ejs")-%>
