<%-include("header.ejs")-%>

<style media="screen">
  .cust-view-details {
    color: white !important;
  }

  .cust-view-details:hover {
    text-decoration: none !important;
  }
  @media only screen and (max-width: 767px) {
    .home-page-intro {
      margin-top: 2% !important;
    }
    .carousel-custom div{
      border: 0px;
    }
  }
</style>



<!-- Carousel -->
<div class="row justify-content-center add-texture-1">
  <div class="col-lg-2 col-md-1 col-sm-4 col-2 ">

  </div>

  <div class="col-lg-3 col-md-4 col-8 home-page-intro">
    <h1 id="home-page-intro-h1"><span>FlickFindrr</span></h1>
    <h3 style="display: inline;">Find Your </h3>
    <h2 id="home-page-intro-h2"><span class="flick">Flick</span></h2>
  </div>

  <div class="col-lg-7 col-md-7 col-sm-12 col-12 carousel-custom">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <!-- <h1 align="center">All Time Hits</h1> -->
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active ">
          <a href="show/tt0903747">
            <img class="d-block w-100" src="https://cnet1.cbsistatic.com/img/X0ca14TIP9jQOQkayXvRlDZQ4jY=/1200x675/2014/06/17/60301c27-9d37-485d-91b9-cc6025e89760/breaking-bad-header.jpg" alt="First slide">
          </a>
        </div>

        <div class="carousel-item">
          <a href="show/tt3007572">
            <img class="d-block w-100" src="https://jeonline.com.br/site/uploads/posts/locke-key-e-uma-das-decepcoes-da-netflix-de-2020-je-online-6d42038de524d8b22e0275da380c6570.jpg" alt="Second slide">
          </a>
        </div>

        <div class="carousel-item">
          <a href="show/tt5232792">
            <img class="d-block w-100" src="https://cdn.mos.cms.futurecdn.net/7jAF7F26C7knMDj6z3EMkG.jpg" alt="Third slide">
          </a>
        </div>

        <div class="carousel-item">
          <a href="show/tt4574334/">
            <img class="d-block w-100" src="https://images7.alphacoders.com/726/thumb-1920-726772.jpg" alt="Fourth slide">
          </a>
        </div>

        <div class="carousel-item">
          <a href="show/tt7335184">
            <img class="d-block w-100" src="https://www.thedailynic.com/wp-content/uploads/2019/07/My-Top-10-Netflix-Shows-to-Watch-You.png" alt="Second slide">
          </a>
        </div>

        <!-- previous button -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <!-- next button-->
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

<hr>
<!-- bootstrap grid featured movies-->
<h1 align="center">Top <span id="hollywood"> HOLLYWOOD</span></h1>
<div class="container-fluid">
  <div class="row pd">

    <div class="col-lg-3 col-md-3 col-sm-6 col-6 img-wrap">
      <a href="show/tt3207684">
        <img class="m" src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_QL50_.jpg">
      </a>
      <p class="image-description">9.4<a class="btn btn-success cust-view-details" href="show/tt3207684" role="button">View Details</a></p>

    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-6 img-wrap">
      <a href="show/tt0758758">
        <img class="m" src="https://m.media-amazon.com/images/M/MV5BMTAwNDEyODU1MjheQTJeQWpwZ15BbWU2MDc3NDQwNw@@._V1_QL50_.jpg">
      </a>
      <p class="image-description">8.1<a class="btn btn-success cust-view-details" href="show/tt0758758" role="button">View Details</a></p>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-6 img-wrap">
      <a href="show/tt1375666">
        <img class="m" src="https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_QL50_SY1000_CR0,0,675,1000_AL_.jpg">
      </a>
      <p class="image-description">8.8<a class="btn btn-success cust-view-details" href="show/tt1375666" role="button">View Details</a></p>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-6 img-wrap">
      <a href="show/tt0816692">
        <img class="m" src="https://m.media-amazon.com/images/M/MV5BZjdkOTU3MDktN2IxOS00OGEyLWFmMjktY2FiMmZkNWIyODZiXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_QL50_SY1000_SX675_AL_.jpg">
      </a>
      <p class="image-description">8.6<a class="btn btn-success cust-view-details" href="show/tt0816692" role="button">View Details</a></p>
    </div>

  </div>

  <div class="row pd">

    <div class="col-lg-3 col-md-3 col-sm-6 col-6 img-wrap">
      <a href="show/tt1130884">
        <img class="m" src="https://m.media-amazon.com/images/M/MV5BYzhiNDkyNzktNTZmYS00ZTBkLTk2MDAtM2U0YjU1MzgxZjgzXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_QL50_SY1000_CR0,0,675,1000_AL_.jpg">
      </a>
      <p class="image-description">8.1<a class="btn btn-success cust-view-details" href="show/tt1130884" role="button">View Details</a></p>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-6 img-wrap">
      <a href="show/tt10314450">
        <img class="m" src="https://m.media-amazon.com/images/M/MV5BNDcxY2IxMmUtZDhlNy00NWM1LWI2MTgtOGRkMTEyZjc5MDMxXkEyXkFqcGdeQXVyNzAwMjU2MTY@._V1_QL50_SY1000_SX675_AL_.jpg">
      </a>
      <p class="image-description">5.7<a class="btn btn-success cust-view-details" href="show/tt10314450" role="button">View Details</a></p>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-6 img-wrap">
      <a href="show/tt0375174">
        <img class="m" src="https://m.media-amazon.com/images/M/MV5BMTQ5NjQ0NDI3NF5BMl5BanBnXkFtZTcwNDI0MjEzMw@@._V1_QL50_SY1000_CR0,0,672,1000_AL_.jpg">
      </a>
      <p class="image-description">8.0<a class="btn btn-success cust-view-details" href="show/tt0375174" role="button">View Details</a></p>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-6 img-wrap">
      <a href="show/tt5563334">
        <img class="m" src="https://m.media-amazon.com/images/M/MV5BN2VhNTY5ZTUtYzc1NC00NjUyLWI1NDQtYWE3YmJlNjQ3OGVlXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_QL50_SY1000_CR0,0,674,1000_AL_.jpg">
      </a>
      <p class="image-description">6.6<a class="btn btn-success cust-view-details" href="show/tt5563334" role="button">View Details</a></p>
    </div>

  </div>
</div>

<hr>

<!-- Trailer and cover -->
<div class="row pd justify-content-center" style="background:rgb(0,0,0,0.65) !important">

  <div class=" col-lg-1 col-sm-1 col-md-1 col-1 icon">
    <button id="featured" type="button" name="button"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
  </div>

  <div class="col-lg-11 col-sm-11 col-md-11 col-11 head">

    <div id="featured-cover">

    </div>

    <div id="heading">
      <div class="row justify-content-center " align="center">
        <div class="col-lg-7 col-md-7 col-sm-7 col-7">
          <div id="trailer" class="embed-responsive embed-responsive-16by9">

          </div>
        </div>
        <div id="cover-heading" class="col-lg-5 col-md-5 col-sm-5 col-5" align="center" style="margin:auto">

        </div>
      </div>
    </div>

  </div>
</div>


<script type="text/javascript">
  $.getJSON("https://raw.githubusercontent.com/RJrachit/IMDB-data/master/movie_of_the_week.json", function(json) {
    console.log(json);
    $("#featured-cover").html("<a href='show/" + json.id + "'><img class='covering' src=" + json.title.image.cover + "></a>");
    $("#trailer").html('<iframe src="' + json.trailer + '" align="center" frameborder="0"></iframe>');
    $("#cover-heading").html('<p>"' + json.heading + '"</p>');
    // $(".head").html("<a href=show/" + json.id + "><img class='covering' src=" + json.title.image.cover + " height='' width=''></a><p id='heading' >" + '"' + json.heading + '"' + "</p>");
    // $(".poster").html("<img class = 'img-poster' src="+json.title.image.url+">");
    // $(".weeknested").html("")
    // $("#heading").text('"'+json.heading+'"');
    // $('.head').append("<a id='trailer' href='#'>Watch Trailer</a>")
  });
</script>


<script type="text/javascript">
  $('#featured').click(function() {
    $('#heading').toggleClass('visible');
    $('#heading').toggleClass('not-visible');
    $(".covering").toggleClass('img-animation');
    $('#featured i').toggleClass('fa-angle-right fa-angle-left');
  });
</script>


<hr>

<!-- bootstrap grid Hindi movies-->
<h1 align="center">Top <span id="hindi"> बॉलीवुड </span></h1>

<div class="container-fluid">
  <div class="row pd">

    <div class="col-lg-3 col-md-3 col-sm-6 col-6 img-wrap">
      <a href="show/tt8108198">
        <img class="m" src="https://m.media-amazon.com/images/M/MV5BZWZhMjhhZmYtOTIzOC00MGYzLWI1OGYtM2ZkN2IxNTI4ZWI3XkEyXkFqcGdeQXVyNDAzNDk0MTQ@._V1_QL50_SX692_CR0,0,692,999_AL_.jpg">
      </a>
      <p class="image-description">8.3<a class="btn btn-success cust-view-details" href="show/tt8108198" role="button">View Details</a></p>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-6 img-wrap">
      <a href="show/tt8907986">
        <img class="m" src="https://m.media-amazon.com/images/M/MV5BNjlkZjBjZmUtNjZjNS00ODlkLWIzODYtODY0NmViN2E0MjIxXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_QL50_SY1000_CR0,0,692,1000_AL_.jpg">
      </a>
      <p class="image-description">7.3<a class="btn btn-success cust-view-details" href="show/tt8907986" role="button">View Details</a></p>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-6 img-wrap">
      <a href="show/tt9052870">
        <img class="m" src="https://m.media-amazon.com/images/M/MV5BYjg2ZDI2YTYtN2EwYi00YWI5LTgyMWQtMWFkYmE3NmJkOGVhXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_QL50_SY1000_CR0,0,692,1000_AL_.jpg">
      </a>
      <p class="image-description">8.1<a class="btn btn-success cust-view-details" href="show/tt9052870" role="button">View Details</a></p>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-6 img-wrap">
      <a href="show/tt7399470">
        <img class="m" src="https://m.media-amazon.com/images/M/MV5BNTkyMDc0MjAtNmQ4Yi00MDBmLWI5NTItYjljOGMxOTkzMzk1XkEyXkFqcGdeQXVyNTA4OTgxMzk@._V1_QL50_SY1000_CR0,0,690,1000_AL_.jpg">
      </a>
      <p class="image-description">7.1<a class="btn btn-success cust-view-details" href="show/tt7399470" role="button">View Details</a></p>
    </div>
  </div>

  <div class="row pd">

    <div class="col-lg-3 col-md-3 col-sm-6 col-6 img-wrap">
      <a href="show/tt2213054">
        <img class="m" src="https://m.media-amazon.com/images/M/MV5BMTgwNTAwMjEzMF5BMl5BanBnXkFtZTcwNzMzODY4OA@@._V1_QL50_SY1000_CR0,0,753,1000_AL_.jpg">
      </a>
      <p class="image-description">7.7<a class="btn btn-success cust-view-details" href="show/tt2213054" role="button">View Details</a></p>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-6 img-wrap">
      <a href="show/tt1187043">
        <img class="m" src="https://m.media-amazon.com/images/M/MV5BNTkyOGVjMGEtNmQzZi00NzFlLTlhOWQtODYyMDc2ZGJmYzFhXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_QL50_SY1000_CR0,0,694,1000_AL_.jpg">
      </a>
      <p class="image-description">8.4<a class="btn btn-success cust-view-details" href="show/tt1187043" role="button">View Details</a></p>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-6 img-wrap">
      <a href="show/tt4169250">
        <img class="m" src="https://m.media-amazon.com/images/M/MV5BZjAzZjZiMmQtMDZmOC00NjVmLTkyNTItOGI2Mzg4NTBhZTA1XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_QL50_SY1000_SX692_AL_.jpg">
      </a>
      <p class="image-description">7.7<a class="btn btn-success cust-view-details" href="show/tt4169250" role="button">View Details</a></p>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-6 img-wrap">
      <a href="show/tt6971752">
        <img class="m" src="https://m.media-amazon.com/images/M/MV5BZGRhMDUxMjktYzdiZi00NTczLWIxMzQtMjEyZTU5MTYwNTg2XkEyXkFqcGdeQXVyNjY1MTg4Mzc@._V1_QL50_SY1000_CR0,0,692,1000_AL_.jpg">
      </a>
      <p class="image-description">6.9<a class="btn btn-success cust-view-details" href="show/tt6971752" role="button">View Details</a></p>
    </div>

  </div>
</div>



<script type="text/javascript">
  $(document).ready(function(){
    $("#home-page-intro-h1").css({"transform":"rotate(-365deg)","transition":"transform 2.5s"});
  })
  $(document).ready(function(){
    $("#home-page-intro-h2").css({"transform":"rotate(363deg)","transition":"transform 2.5s"});
  })
</script>


<%-include("footer.ejs")-%>
