<%- include("header.ejs") -%>

<hr> <hr>
<h5><%=h%></h5>
<p><%=pm%></p>
<br>
<p>Click Below To Go Back!</p>
<button type="button" class="btn btn-warning" onclick="history.back()" name="button">Go Back!</button>
<hr> <hr>

<%- include("footer.ejs") -%>
