<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<%-include("header")-%>

<style media="screen">
  @import url('https://fonts.googleapis.com/css?family=Numans');

  html,
  body {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    /* height: 100%; */
    background-image: url("/images/sign.jpg") !important;
  }

  .container {
    height: 100%;
    align-content: center;
  }

  .card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 1) !important;
  }

  .social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
  }

  .social_icon span:hover {
    color: white;
    cursor: pointer;
  }

  .card-header h3 {
    color: white;
  }

  .social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
  }

  .input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
  }

  input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
  }

  .remember {
    color: white;
  }

  .remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
  }

  .login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
  }

  .login_btn:hover {
    color: black;
    background-color: white;
  }

  .links {
    color: white;
  }

  .links a {
    margin-left: 4px;
  }

  .pd {
    padding: 10px;
  }

  .m {
    padding: 15px;
  }

  .navbar-brand:hover {
    -webkit-transform: scale(1.0);
    text-decoration: none !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Work Sans', sans-serif;
  }

  button:hover {
    opacity: 0.9;
  }

  input:focus {
    border-color: #ffcd3c;
    border-width: 3px;
  }

  a {
    color: #ffcd3c !important;
  }

  #page-container{
    background-image: url("/images/sign.jpg") !important;
    background-size: cover;
  }
</style>

<hr>
<hr>
<hr>

<div class="container" style="opacity:0.9">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
        <div class="d-flex justify-content-end social_icon">
          <a href="/auth/facebook"><span><i class="fab fa-facebook-square"></i></span></a>
          <a href="/auth/google"><span><i class="fab fa-google-plus-square"></i></span></a>

        </div>
      </div>

      <div class="card-body">
        <form action="/login" method="post">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" name="username" class="form-control" placeholder="username" required>

          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" name="password" class="form-control" placeholder="password" required>
          </div>
          <div class="form-group">
            <input type="submit" value="Sign In" class="btn float-right login_btn">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?<a href="/signup">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<%-include("footer")-%>
