h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}

body {
  background: #06000f !important;
  color: #ffcd3c !important;
}

nav {
  position: fixed;
}

button:hover {
  opacity: 0.9;
}

input:focus {
  border-color: #ffcd3c;
  border-width: 3px;
}

a {
  color: #ffcd3c !important;
  font-size: 1em;
}

.home-page-intro h1 {
  transform: rotate(-5deg);
}

.home-page-intro h2 {
  display: inline;
}
.home-page-intro h3{
  font-family: 'MuseoModerno', cursive;
}
.home-page-intro {
  margin-top: 10%;
  font-family: 'MuseoModerno', cursive;
  line-height: 1.7;
}

.home-page-intro span {
  color: black;
  border-radius: 10% 15% 20% 10%;
  background-color: #fcbf1e;
  font-family: 'MuseoModerno', cursive !important ;
  line-height: 2;
}
.home-page-intro span h2{
  color: black;
  border-radius: 10% 15% 20% 10%;
  background-color: #fcbf1e;
  font-family: 'MuseoModerno', cursive !important ;
  line-height: 2;
}

.carousel-custom div{
  /* border-radius: 20px; */
  border: 0.1px dotted white;
  border-left: 0px;
  border-right: 0px;
  right: 0px;
}

#hindi {
  /* font-family: 'Caveat', cursive; */
  font-family: 'Kalam', cursive;
  /* font-family: 'Monoton', cursive; */
}

#hollywood {
  font-family: 'Caveat', cursive;
  font-family: 'Khula', sans-serif;
  font-family: 'Monoton', cursive;
  font-family: 'MuseoModerno', cursive;
}

@media only screen and (max-width: 474px) {
  .btn {
    font-size: 3vw !important;
  }
}

@media only screen and (max-width: 400px) {
  .btn {
    font-size: 3.5vw !important;
  }
}
