.img-poster{
  width: 100%;
  transition: 1s;
  /* object-fit:fill; */
}

.nested{
  display:grid;
  grid-template-rows: auto;
  padding: 2%;
}

.nested-item{
  display: grid;
  grid-template-columns:  1fr;
  font-size: 3vw;
  background:#ededed;
  border-radius: 8px 8px;
  margin:0.5%;
  color: black;
}
.display-pic{
  border-radius: 50%;
}
.comment-section{
  display: grid;
  grid-template-columns: 80px 1fr;
}
.upvote{
  border: none;
  background: black;
}
.delete{
  color: white;
  background:black;
  border: none;
}
.rating{
  border-right: solid #780000 0.1vw;
  margin: auto;
  width: 100%;
  /* text-align: center; */
}
.genres{
  border-right: solid #006600 0.1vw;
  margin: auto;
  /* text-align: center; */
  width: 100%;
}
.type{
  border-right: solid #798200 0.1vw;
  margin: auto;
  width: 100%;
  /* text-align: center; */
}
.align-rating-genre-type{
  width: 100%;
  margin: auto;
  text-align: center;
  overflow:auto;
}

.comment-send textarea {
  resize: none;
  height: 100px;
}
