
.m{
  width: 100%;
}

.image-description {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 4em;
  color: white;
  visibility: hidden;
}

.img-wrap:hover .image-description {
  visibility: visible;
  opacity: 1;
}
.img-wrap:hover img {
  transition: 1.1s;
  opacity: 0.35;
}


.icon button{
  position: absolute;
  left: 80% ;
  top: 50% ;
  transform: translate(-50%,-50%) ;
  background: none;
  border: none;
  font-size: 6vw;
  color:white;
}

#featured{
  border: none;
  outline:none;
}
#heading{
  visibility: hidden;
  position: absolute;
  width: 85%;
  font-size: 2.8vw;
  color:white;
  left: 50% ;
  top: 50% ;
  transform: translate(-50%,-50%) ;
  animation-duration: 2s;
}

.embed-responsive{
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%,-50%) !important;
}

.visible{
  visibility: visible;
  animation-name: slidein;
}

.head{
  transition: 2s;
}

.img-animation{
  opacity:0.3;
  transform: scale(0.95);
}

img{
  transition: 2s;
}
#cover-heading p{
  font-family: 'Caveat', cursive;
}
 @keyframes slidein {
  from {
    left: 200%;
  }

  to {
    position: absolute;
    left: 50%;
    /* margin-left: 50%; */
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.covering{
  width: 100%;
  height: 100%;
}
